<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0pZaVaqI8KlqtSoqgfWliMxKisuIjSPg</string>
	<key>GCM_SENDER_ID</key>
	<string>964801741460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.driveCheck</string>
	<key>PROJECT_ID</key>
	<string>drivecheck-f23ac</string>
	<key>STORAGE_BUCKET</key>
	<string>drivecheck-f23ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964801741460:ios:428bcdccd3d678d9b6ea81</string>
</dict>
</plist>